* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-mainBG: hsl(217, 54%, 11%);
  --very-dark-blue-cardBG: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --line-grey: hsl(0, 2%, 82%, 0.5);
  --Outfit: 'Outfit', sans-serif;
  --Outfit-light: 300;
  --Outfit-regular: 400;
  --Outfit-medium: 600;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.25rem;
  font-family: var(--Outfit);
  background-color: var(--very-dark-blue-mainBG);
}

.container {
  max-width: 21.875rem;
  background-color: var(--very-dark-blue-cardBG);
  padding: 1.563rem;
  border-radius: 0.938rem;
}
.container:hover {
  filter: saturate(1.2);
  transition: ease-in-out 0.6s;
}
.card-image {
  height: 18.75rem;
  width: 18.75rem;
  background: url('../images/image-equilibrium.jpg');
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.938rem;
  cursor: pointer;
}
.eyeIcon {
  opacity: 0;
}
.card-image:hover > .eyeIcon {
  opacity: 1;
  transition: 0.2s;
}
.card-image:hover {
  box-shadow: 0 19.375rem #ffffff75 inset;
}
.title {
  font-size: 1.375rem;
  font-weight: var(--Outfit-medium);
  color: var(--white);
  margin: 1.25rem 0;
  cursor: pointer;
}

.title:hover {
  color: var(--cyan);
}

.description {
  font-weight: var(--Outfit-light);
  color: var(--soft-blue);
  padding-bottom: 0.25rem;
}
.card-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1.25rem;
  justify-content: space-between;
}

.iconEth,
.time {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 1rem;
}
.iconEth:hover img {
  transform: rotate(1080deg);
  transition: 0.8s;
}
.iconEth p {
  font-weight: var(--Outfit-regular);
  color: var(--cyan);
}

.iconEth:hover {
  color: var(--white);
}

.time {
  color: var(--soft-blue);
}

.time:hover img {
  transform: rotate(1080deg);
  transition: 0.8s;
}
.creator {
  margin-top: 1.875rem;
  padding-top: 1.25rem;
  border-top: 1px solid var(--line-grey);
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 1rem;
}
.creator img {
  border-radius: 50%;
  border: 0.063rem solid var(--white);
  width: 2.5rem;
}

.creator p a {
  text-decoration: none;
  color: var(--white);
}
.creator p a:hover {
  color: var(--cyan);
}
.creation {
  color: var(--soft-blue);
}
@media (max-width: 400px) {
  .container {
    width: 100%;
    text-align: center;
  }

  .card-image {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .eyeIcon {
    opacity: 0;
    width: 100%;
  }

  .card-info {
    justify-content: center;
    gap: 20%;
  }

  .card-image:hover > .eyeIcon {
    opacity: 0;
  }

  .card-image:hover {
    box-shadow: none;
  }
}
